<div class="header">
  <nav>
      <div class="nav-wrapper white">
        <a href="#!" class="brand-logo center-logo">
            <img src="assets/img/logo.jpg.jpg" alt="San Martin" class="logo-img">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons azul-icon">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="cita/crearCita" class="azul-text">Citas</a></li>
            <li><a routerLink="info/acercaDe" class="azul-text">Acerca de</a></li>
            <li><a routerLink="info/Servicios" class="azul-text">Servicios</a></li>
        </ul>
      </div>
    </nav>
  
    <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="cita/crearCita" class="azul-text">Citas</a></li>
        <li><a routerLink="info/acercaDe" class="azul-text">Acerca de</a></li>
        <li><a routerLink="info/Servicios" class="azul-text">Servicios</a></li>
    </ul>


</div>
