.TableView{
    display: flex; 
    background-color:#ffffff;
    margin-top: 3%;
    height: 80%;
    width:100;
    overflow:auto;
}

.btnadd{
    background-color: #09448df5;
    position: absolute;
    right: 3%;
    top:68%
}

.btn{
    background-color: #09448df5;
}

.btnMargin{
    right: 3%;
}