<video autoplay muted loop id="background-vid">
    <source src="assets/video/background.mp4" type="video/mp4">
</video>

<div class ="container">
    <div class ="header">
        <nav>
            <div class="nav-wrapper white">
              <a href="#" class="brand-logo center-logo">
                  <img src="assets/img/ rgb(148, 197, 229);logo.jpg" alt="San Martin" class="logo-img">
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#" class="azul-text">Citas</a></li>
                <li><a href="#" class="azul-text">Acerca de</a></li>
                <li><a href="#" class="azul-text">Servicios</a></li>
              </ul>
            </div>
          </nav>
    </div>


    <div class="imgMain">
    
        </div>
    <div class="footer">
       
    </div>
</div>

<router-outlet></router-outlet>
