<div class ="container">
    <div class ="header">
       
    </div>
           
    <div class="menuContainer">
            <a href="" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">sass</a></li>
              <li><a href="">sass <span class="new badge">4</span></a></li>
              <li><a href="">sass</a></li>
    </div>

    <div class="imgMain">
    
        </div>
    <div class="footer">
       
    </div>
</div>

<router-outlet></router-outlet>
