.container{
    display:flex;
    border:aquamarine;
    width: 100%;
    height: 100%;
    flex-direction:column;
}

.header{
   display:flex;
   height: 15%;
   background-color:royalblue; 
}   
.menuContainer{
   
    display:flex;
    height: 10%;
    background-color: aquamarine;
   
}
.imgMain{
    display:flex;
    height: 55%;
    margin-left:15%;
    margin-right: 15%;
    margin-bottom: 2%;
    margin-top:2%;
    background-color: brown;
}
.footer{
    display:flex;
    flex:end;
    height: 20%;
    background-color:darkcyan;
    
}


