.container{
display:flex;
border:aquamarine;
max-width:100%;
justify-content: center;
flex-direction:column;
margin-block-end: 10%;
}

.header{
    display:flex;
    background-color:royalblue;
    flex:1;
    margin-block-end: 10%;
  
}   
.content{
   
    display:flex;
    background-color: aquamarine;
    flex:1;
    flex-direction: column-reverse;
    margin-block-end: 20%;
   
}
.content2{
    display:flex;
    background-color: brown;
    flex:1;
}
.footer{
    display:flex;
    background-color:darkcyan;
    flex:end;
    flex:1;
}


