<div class="imgMain">
    <div class="carousel hide-on-small-only">
      <a class="carousel-item" href="#one!"><img src="assets/img/teeth.png"></a>
      <a class="carousel-item" href="#two!"><img src="assets/img/toothbrush.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="assets/img/ortodontist.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="assets/img/chair.jpg"></a>
    </div>

    <div class="img-mobile hide-on-med-and-up">
        <img src="assets/img/teeth.png">
        <img src="assets/img/toothbrush.jpg">
        <img src="assets/img/ortodontist.jpg">
        <img src="assets/img/chair.jpg">
    </div>
  </div>
